<table class="table">
  <thead>
    <tr>
      <th class="col-sm-1"></th>
      <th class="col-sm-2"></th>
      <th class="col-sm-8"></th>
      <th class="col-sm-1"></th>
    </tr>
  </thead>
  <tbody>
  <% @data.each do |event| %>
    <tr>
      <td></dt>
      <td>
        <br>
        <%= "#{event.month}/#{event.day} (#{event.wday})" %><br>
        <a href="<%= event.group_url %>">
          <img src="<%= event.group_logo %>" style="height: 50px; width: 50px;  border-radius: 50px; border: 1px #AAAAAA solid;">
          <%= event.group_title %>
        </a><br>
        <img src="<%= event.logo %>" class="shadow" style="width: 250px; padding-top: 10px;">
      </td>
      <td style="padding-left: 20px">
        <a href="<%= event.event_url %>">
          <h1><%= event.title %></h1>
        </a>
        <%= event.catch %><br>
        <%= event.place %><br>
        <%= event.address %><br><br>
        <%= "#{event.accepted}/#{event.limit} #{event.limit_over? ? "定員" : "まだいけます"}" %><br>
        <a href="<%= event.group_url %>"><%= event.group_title %></a><br>

        <a href="http://connpass.com/user/<%= event.owner_nickname %>"><%= event.owner_nickname %></a><br>

        <% if @owner_twitter_id %>
        twitter:<a href="http://twitter.com/<%= event.owner_twitter_id %>"><%= event.owner_nickname %></a><br>
        <% end %><br><br>

        <% event.users.each do |user| %>
        <a href="<%= user[:id] %>">
          <img src="<%= user[:image] %>" data-toggle="tooltip" title="<%= user[:name] %>" style="width: 36px; height: 36px; border-radius: 20px;">
        </a>
        <% end %>
        <br>
        <br>
        <br>
      </td>
      <td></dt>
    </tr>
  <% end %>
  </tbody>
</table>
