<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @data.each do |event| %>
  <tr>
    <td>
      <%= "#{event.month}/#{event.day} (#{event.wday})" %><br>
      <%= event.source %>
      <p>
      <a href="<%= event.group_url %>">
      <div style="
width:70px;
height:70px;
border-radius: 400px;
border:1px solid #fff;
box-shadow: 0px 0px 10px #ccc,
inset 0px 0px 10px rgba(0, 0, 0, 0.8);
background: url(<%= event.group_logo %>) center center;
background-repeat: no-repeat;">
      </div>
    </td>
    <td>
      <img src="<%= event.logo %>" class="shadow" style="width: 250px; padding: 30px, 30px, 30px, 30px; margin-top: 5px; display: inline-block; box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.8);">
    </td>
    <td>
      <a href="<%= event.event_url %>">
        <%= event.title %><br>
      </a>
      <%= event.catch %><br>
      <%= event.place %><br>
      <%= event.address %><br><br>
      <%= "#{event.accepted}/#{event.limit} #{event.limit_over? ? "定員" : "まだいけます"}" %><br>
      <a href="<%= event.group_url %>"><%= event.group_title %></a><br>

      <a href="http://connpass.com/user/<%= event.owner_nickname %>"><%= event.owner_nickname %></a><br>

      <% if @owner_twitter_id %>
      twitter:<a href="http://twitter.com/<%= event.owner_twitter_id %>"><%= event.owner_nickname %></a><br>
      <% end %><br><br>

      <% event.users.each do |user| %>
      <img src="<%= user[:image] %>" style="width: 36px; height: 36px; border-radius: 20px;">
      <!--<%= user[:name] %><br>-->
      <% end %>
      <br>
      <br>
    </td>
  </tr>
  <% end %>
</table>
