<% @data.each do |event| %>
<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-10">
    <div class="col-xs-3">
      <img src="<%= event.logo %>" class="shadow" style="width: 150px; height: 150px; padding-top: 10px;"><br>
      <div style="margin-top: 10px; margin-bottom: 10px">
        <a data-toggle="tooltip" title="<%= event.address %>">
          <span class="glyphicon glyphicon glyphicon-map-marker"><span style="padding-left: 3px"><%= event.place %></span>
        </a>
      </div>
    </div>
    <div class="col-xs-9">
      <!--<a href="<%= event.event_url %>">-->
        <h3 style="vertical-align: top;"><%= event.title %></h3>
        <a href="<%= event.group_url %>">
          <img src="<%= event.group_logo %>" style="height: 20px; width: 20px;  border-radius: 20px; border: 1px #AAAAAA solid;">
          <%= event.group_title %>
        </a>
      <!--</a>-->
      <br>
      <div style="color: #888888; padding-top: 10px">
        <%= event.catch %>
      </div>
    </div>
    <div class="col-xs-12">
      <% event.users.each do |user| %>
      <a href="<%= user[:id] %>">
        <img src="<%= user[:image] %>" data-toggle="tooltip" title="<%= user[:name] %>" style="width: 36px; height: 36px; border-radius: 20px;">
      </a>
      <% end %>
      <div style="width: 10px; margin-left: auto;">
        <h4><%= "#{event.accepted}/#{event.limit}" %></h4>
      </div>
    </div>
  </div>
  <div class="col-xs-1"></div>
</div>
<hr style="height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
    border: 0;">
<% end %>


<table class="table">
  <thead>
    <tr>
      <th class="col-sm-1"></th>
      <th class="col-sm-2"></th>
      <th class="col-sm-8"></th>
      <th class="col-sm-1"></th>
    </tr>
  </thead>
  <tbody>
  <% @data.each do |event| %>
    <tr>
      <td></dt>
      <td>
        <br>
        <%= "#{event.month}/#{event.day} (#{event.wday})" %><br>
        <a href="<%= event.group_url %>">
          <img src="<%= event.group_logo %>" style="height: 50px; width: 50px;  border-radius: 50px; border: 1px #AAAAAA solid;">
          <%= event.group_title %>
        </a><br>
        <img src="<%= event.logo %>" class="shadow" style="width: 250px; padding-top: 10px;">
      </td>
      <td style="padding-left: 20px">
        <a href="<%= event.event_url %>">
          <h1><%= event.title %></h1>
        </a>
        <%= event.catch %><br>
        <a data-toggle="tooltip" title="<%= event.address %>">
          <span class="glyphicon glyphicon glyphicon-map-marker"><span style="padding-left: 3px"><%= event.place %></span>
        </a>
        <br>
        <%= "#{event.accepted}/#{event.limit} #{event.limit_over? ? "定員" : "まだいけます"}" %><br>
        <a href="<%= event.group_url %>"><%= event.group_title %></a><br>

        <a href="http://connpass.com/user/<%= event.owner_nickname %>"><%= event.owner_nickname %></a><br>

        <% if @owner_twitter_id %>
        twitter:<a href="http://twitter.com/<%= event.owner_twitter_id %>"><%= event.owner_nickname %></a><br>
        <% end %><br><br>

        <% event.users.each do |user| %>
        <a href="<%= user[:id] %>">
          <img src="<%= user[:image] %>" data-toggle="tooltip" title="<%= user[:name] %>" style="width: 36px; height: 36px; border-radius: 20px;">
        </a>
        <% end %>
        <br>
        <br>
        <br>
      </td>
      <td></dt>
    </tr>
  <% end %>
  </tbody>
</table>
