<link rel="stylesheet" href="/css/style.css" />
<script type="text/jsx;harmony=true" src="/js/test.js"></script>
<h1 style="background=orange">名古屋勉強会λ</h1>
<table>
  <tr>
    <th>date</th>
    <th>title</th>
  </tr>
  <% @data.each do |event| %>
  <tr>
    <td>
      <%= event.source %><br>
      <%= "#{event.month}/#{event.day} (#{event.wday})" %><br>
      <p>
        <img src="<%= event.logo %>">
      </p>
    </dt>
    <td>
      <a href="<%= event.event_url %>">
        <%= event.title %><br>
      </a>
      <%= event.catch %><br>
      <%= event.place %><br>
      <%= event.address %><br><br>
      <%= "#{event.accepted}/#{event.limit} #{event.limit_over? ? "定員" : "まだいけます"}" %><br>
      <%#<%= event.source %>
      <a href="<%= event.group_url %>"><%= event.group_title %></a><br>

      <a href="http://connpass.com/user/<%= event.owner_nickname %>"><%= event.owner_nickname %></a><br>

      <% if @owner_twitter_id %>
      twitter:<a href="http://twitter.com/<%= event.owner_twitter_id %>"><%= event.owner_nickname %></a><br>
      <% end %>
      
    </td>
  </tr>
  <% end %>
</table>
