<div>
  <h2>
    <a href="<%= "#{@event.group_url}" %>">
      <img class="group-logo" src="<%= @event.group_logo_url %>">
      <%= "#{@event.group_title}" %>
      <small>
        by <%= "#{@event.source}" %>
      </small>
    </a>
  </h2>

  <br>

  <h3 class="user-title">
    <b>開催する勉強会</b>
  </h3>
  <%= render partial: 'events/event', locals: { upcoming_events: @events } %>

  <br>
  <br>

  <h3 class="user-title">
    <b>過去の勉強会</b>
  </h3>
  <%= render partial: 'events/event', locals: { upcoming_events: @events_histories } %>
</div>

<div>
  <a class="twitter-timeline" href="<%= "#{@event.twitter_list_url}/members" %>">Tweets by TwitterDev</a>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
