<div class="col-md-8 col-xs-12" style="margin-left: 20px">
  <h2>
    <img class="user-icon" src="<%= @user.image_url %>" datatoggle="tooltip">
    <%= "#{@user.name}" %>
    <small>
      <%= "(@#{@user.twitter_id})" %>
    </small>
  </h2>

  <br>

  <h3 class="user-title">
  参加する勉強会
  </h3>
  <%= render partial: 'events/event', locals: { events: @events } %>

  <br>
  <br>

  <h3 class="user-title">
  過去の勉強会
  </h3>
  <%= render partial: 'events/event', locals: { events: @events_histories } %>
</div>

<div class="col-md-0 col-xs-1">
</div>

<div class="col-md-3 col-xs-10">
  <a class="twitter-timeline" href="<%= "https://twitter.com/#{@user.twitter_id}" %>">Tweets by TwitterDev</a>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
