<%= bday = "" %>
<% @data.each do |event| %>
<% day = "#{event.month}/#{event.day}" %>
<div class="row">
  <% if bday != day %>
  <hr class="wave">
  <% end %>
  <div class="col-md-2 col-xs-11 col-xs-offset-1">
    <% if bday != day %>
    <h1 class="day">
      <%= day %>
      <small><%= "(#{event.wday})" %></small>
    </h1>
    <% end %>
  </div>
  <div class="col-md-6 col-xs-10 col-md-offset-0 col-xs-offset-1">
    <% if bday == day %>
    <hr class="style-three">
    <% else %>
    <% bday = day %>
    <% end %>

    <!-- イベント情報 -->
      <div class="event-left col-xs-3">
        <a href="/event/<%= event.event_id %>">
          <p class="resizeimage">
            <img class="event-logo shadow" src="<%= event.logo %>" style="  object-fit: contain;
  width: 110px;
  height: 100px;"><br>
          </p>
        </a>
        <div class="event-place">
          <a data-toggle="tooltip" title="<%= event.address %>" href="https://maps.google.co.jp/maps?q=<%= event.place_enc %>">
            <span class="glyphicon glyphicon-map-marker">
            <%= event.place %>
            </span>
          </a>
        </div>
      </div>
      <div class="event-right col-xs-9">
        <a href="<%= event.event_url %>">
          <h3 class="event-title"><%= event.title %> <small>by <%= event.source %></small></h3>
        </a>
        <% if event.group_url %>
        <a href="<%= event.group_url %>">
          <img class="group-logo" src="<%= event.group_logo %>">
          <%= event.group_title %>
        </a>
        <br>
        <% end %>
        <div class="event-detail">
          <%= event.catch %>
        </div>
      </div>
      <div class="event-user col-xs-12">
        管理者：
        <div style="background-color: #EEEEEE; border-radius: 5px;">
          <div style="padding-left: 10px; padding-top: 5px; padding-bottom: 5px;">
          <% event.owners.each do |user| %>
          <a href="<%= user[:id] %>">
            <img class="user-icon" src="<%= user[:image] %>" data-toggle="tooltip" title="管理者：<%= user[:name] %>" style="margin-right: 2px; margin-bottom: 2px">
          </a>
          <% end %>
          </div>
        </div>
        <br>
        参加者：
        <div style="margin-right: 5px; background-color: #EEEEEE; border-radius: 5px;">
          <div style="padding-left: 10px; padding-top: 5px; padding-bottom: 5px">
          <% event.users.each do |user| %>
          <a href="<%= user[:id] %>">
            <img class="user-icon" src="<%= user[:image] %>" data-toggle="tooltip" title="参加者：<%= user[:name] %>" style="margin-right: 2px; margin-bottom: 2px">
          </a>
          <% end %>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="user-limit">
            <h3 style="margin-top: 10px">
              <p><%= "#{event.accepted}" %></p>
              <% if event.limit != 0 %>
              <p><%= "/ #{event.limit}" %></p>
              <% end %>
              <p><small>人</small></p>
            </h3>
            <% if !event.hash_tag.empty? %>
            <a href="<%= "https://twitter.com/hashtag/#{event.hash_tag}?f=tweets&vertical=default&src=hash" %>">
              Twiter: <%= "#{event.hash_tag}" %>
            </a>
            <% end %>
          </div>
        </div>
    </div>
  </div>
  <div class="col-xs-3"></div>
</div>
<% end %>
