<%= bday = "" %>
<% @data.each do |event| %>
<% day = "#{event.month}/#{event.day}" %>
<div class="row">
  <% if bday != day %>
    <hr style="height: 6px;
      background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
        border: 0;">
  <% end %>
  <div class="col-xs-1"></div>
  <div class="col-xs-2">
    <h1>
      <% if bday != day %>
        <div style="text-align: right;">
          <%= day %>
          <h3 style="display:inline;"><%= "(#{event.wday})" %></h3>
        </div>
        <% day = "#{event.month}/#{event.day}" %>
      <% end %>
    </h1>
  </div>
  <div class="col-xs-6">
    <% if bday == day %>
    <hr class="style-three">
    <% end %>

    <% if bday != day %>
    <% bday = day %>
    <% end %>

    <div class="row">
      <div class="col-xs-3">
        <a href="<%= event.event_url %>">
          <p class="resizeimage">
            <img src="<%= event.logo %>" class="shadow" style="width: 100%; height: 200px; padding-top: 10px;"><br>
          </p>
        </a>
        <div style="margin-top: 10px; margin-bottom: 10px">
          <a data-toggle="tooltip" title="<%= event.address %>">
            <span class="glyphicon glyphicon glyphicon-map-marker"><span style="padding-left: 3px"><%= event.place %></span>
          </a>
        </div>
      </div>
      <div class="col-xs-9">
        <div style="max-height: 270px;overflow: hidden;">
          <a>
            <h3 style="vertical-align: top;"><%= event.title %></h3>
          </a>
          <% if event.group_url %>
            <a href="<%= event.group_url %>">
              <img src="<%= event.group_logo %>" style="height: 20px; width: 20px;  border-radius: 20px; border: 1px #AAAAAA solid;">
              <%= event.group_title %>
            </a>
            <br>
          <% end %>
          <div style="color: #888888; padding-top: 10px; height: 90px;overflow: hidden;">
            <%= event.catch %>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <% event.users.each do |user| %>
        <a href="<%= user[:id] %>">
          <img src="<%= user[:image] %>" data-toggle="tooltip" title="<%= user[:name] %>" style="width: 36px; height: 36px; border-radius: 20px;">
        </a>
        <% end %>
        <div style="text-align: right;">
          <h3 style="display:inline;"><%= "#{event.accepted} / #{event.limit}" %></h3> 人
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-3"></div>
</div>
<% end %>
