<%#<a href="/date/201612">12月の勉強会→</a>%>
<%= bday = "" %>
<% @data.each do |event| %>
<% day = "#{event.month}/#{event.day}" %>
<div class="row">
  <% if bday != day %>
  <hr class="style-two">
  <% end %>
  <div class="col-md-1 col-xs-0">
  </div>
  <div class="col-md-1 col-xs-1">
    <% if bday != day %>
    <h1 class="day">
      <%= day %>
      <small><%= "(#{event.wday})" %></small>
    </h1>
    <% end %>
  </div>
  <div class="col-md-6 col-xs-10">
    <% if bday == day %>
    <%#<hr class="style-three">%>
    <hr class="style-two">
    <% else %>
    <% bday = day %>
    <% end %>

    <!-- イベント情報 -->
    <div class="event-left col-xs-3">
      <a href="<%= event.event_url %>">
        <p class="resizeimage">
          <img class="event-logo shadow" src="<%= event.logo %>" style="  object-fit: contain;
width: 110px;
height: 100px;"><br>
        </p>
      </a>
      <div class="event-place">
        <a data-toggle="tooltip" title="<%= event.address %>" href="https://maps.google.co.jp/maps?q=<%= event.place_enc %>">
          <span class="glyphicon glyphicon-map-marker">
          <%= event.place %>
          </span>
        </a>
      </div>
    </div>
    <div class="event-right col-xs-9">
      <a href="<%= event.event_url %>">
        <h3 class="event-title"><%= event.title %> <small>by <%= event.source %></small></h3>
      </a>
      <% if event.group_url %>
      <a href="<%= event.group_url %>">
        <img class="group-logo" src="<%= event.group_logo %>">
        <%= event.group_title %>
      </a>
      <br>
      <% end %>
      <div class="event-detail">
        <%= event.catch %>
      </div>
    </div>
    <div class="event-user col-xs-12">
      <div style="background-color: #EEEEEE; border-radius: 5px;">
        <div style="padding-left: 10px; padding-top: 5px; padding-bottom: 5px;">
        <% event.owners.each do |user| %>
        <a href="<%= "https://twitter.com/#{user[:twitter_id]}" %>">
          <img class="owner-icon" src="<%= user[:image] %>" data-toggle="tooltip" title="管理者：<%= user[:name] %>" style="margin-right: 2px; margin-bottom: 2px">
        </a>
        <% end %>
        <% event.users.each do |user| %>
        <a href="<%= "https://twitter.com/#{user[:twitter_id]}" %>">
          <img class="user-icon" src="<%= user[:image] %>" data-toggle="tooltip" title="参加者：<%= user[:name] %>" style="margin-right: 2px; margin-bottom: 2px">
        </a>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
